@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
}

:root {
    --main-colour: #2E21AC;
    --side-colour: #D8499D;
}

button, input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3.25rem;
    color: var(--side-colour);
    text-shadow: 2px 2px var(--main-colour);
}

#playerScores {
    color: var(--side-colour);
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#playerScores #toggleMode {
    padding: 12px;
    border: 1px solid black;
    background-color: var(--side-colour);
    color: var(--main-colour);
    border-radius: 4px;
    font-size: 1.25rem;
}

#playerScores #toggleMode:hover {
    background-color: var(--main-colour);
    color: var(--side-colour);
    cursor: pointer;
}

::placeholder {
    color: var(--side-colour);
}

#playerScores input {
    color: var(--side-colour);
    border: 1px solid var(--main-colour);
    width: 10vw;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid var(--side-colour);
    box-shadow: 0 0 3px var(--main-colour);
}

input:focus{
    outline: none;
}

#reset {
    display: none;
    margin-left: 1vw;
    background-color: var(--side-colour);
    color: var(--main-colour);
    border: 1px solid black;
    border-radius: 4px;
}

#reset:hover {
    cursor: pointer;
    background-color: var(--main-colour);
    color: var(--side-colour);
}

#playerOne, #playerTwo {
    display: flex;
    align-items: center;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardPos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    font-family: Arial;
    margin-top: 5vh;
    height: 55vh;
    width: 55vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); 
    gap: 4px;
}

#gameBoard .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--side-colour);
    color: var(--main-colour);
    border-radius: 4px;
    font-size: 6rem;
}

#gameBoard .square:hover {
    cursor: pointer;
}

#footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10vh;
}

#footer img {
    max-height: 7vh;
}

@media screen and (max-width: 475px) {
    input {
        width: 300px;
    }
   #toggleMode {
    flex-basis: 100%;
    max-width: 80vw;
   } 
}

#difficulty {
    border: 1px solid var(--side-colour);
    background-color: white;
    color: var(--main-colour);
    outline: none;
    padding: 12px;
    margin-left: 1vw;
    font-size: 1rem;
}
